#hdr {
    background-color: #666666;
    height: 98px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    font-size:24px;
    text-shadow: 1px 1px 1px black;
    color: white;
    border-bottom: 2px solid #4c4c4c;
}

#title {
    font-size: 80px;
    text-shadow: 2px 2px 2px black;
}


#topbar {
    font-size: 24px;
    position: fixed;
    left: 20px;
    top: 65px;
    text-shadow: 1px 1px 1px black;
}

a {
    text-decoration: none;
    color: white;
}

#topbaritem {
    height: 50px;
    width: 100px;
    text-align: center;
    display: inline;
}

#dummyheader {
    height: 92px;
    width: 100%;
    margin: auto;
    background-color: yellow;
}

#vidandpptpanel {
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
    height: 390px;
    border-left: 2px solid #4c4c4c;
    border-right: 2px solid #4c4c4c;
}

#video {
    color: black;
    width: 640px;
    height: 390px;
    background-color: black;
    float: left;
    text-align: center;
    font-size: 96px;
}

#pptpanel {
    width: 480px;
    float: right;
    height: 390px;
}

#ppt {
    width: 480px;
    float: right;
    color: black;
    height: 360px;
    text-align: center;
    background-size: 480px 360px;
}

#navbarpanel {
    width: 480px;
    height: 28px;
    float: right;
    background-color: #171717;
    color: black;
    text-align: center;
    font-size: 24px;
    border-top: 2px solid black;
}

#navbaritem {
    text-align: center;
    display: inline;
    float: left;
    color: #aeaeae;
    margin-right: 10px;
    background-color: #171717;
    cursor: pointer;
}


#slidechooser {
    text-align: center;
    display: inline;
    float: right;
    color: #aeaeae;
    margin-right: 10px;
    cursor: pointer;
    background-color: #171717;
}


body {
    background-color: black;
}


#slidechoicepanel {
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
    height: 390px;
    border-left: 2px solid #4c4c4c;
    border-right: 2px solid #4c4c4c;
    background-color: black;
    opacity: .9;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    visibility: hidden;
}

#chooser {
    height: 390px;
    width: 504px;
    color: white;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}

#slidechoice {
    height: 200px;
    width: 490px;
    vertical-align: middle;
    text-align: left;
    color: white;
    line-height: 200px;
    vertical-align: middle;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    cursor: pointer;
}

#slideinfo {
    display: inline-block;
    vertical-align: middle;
    line-height: 150px;
}


#closescp {
    cursor: pointer;
    float: right;
    background-color: black;
    color: white;
    display: inline;
}

#notespanel {
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    text-align: center;
    font-size: 96px;
    color: white;
    background-color: #666666;
    border: 2px solid #4c4c4c;
}

p {
    color: white;
    font-size: 24px;
}

#checkpoint {
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: #666666;
    border: 2px solid #4c4c4c;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 2;
    visibility: hidden;
}









